* {
	--active-input-border-gradient: linear-gradient(
		90deg,
		hsl(249, 99%, 64%) 0%,
		hsl(278, 94%, 30%) 100%
	);
	--input-error: hsl(0, 100%, 66%);
	--white: hsl(0, 0%, 100%);
	--light-grayish-violet: hsl(270, 3%, 87%);
	--dark-grayish-violet: hsl(279, 6%, 55%);
	--very-dark-violet: hsl(278, 68%, 11%);
}

body {
	font-size: 1.125rem;
	font-family: "Space Grotesk", sans-serif;
	font-weight: 500;
	min-height: 100vh;
	position: relative;
	display: flex;
	flex-direction: column;
}
p {
	margin: 0;
}

.display-none {
	display: none;
}

div.background {
	background-image: url(../images/bg-main-mobile.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 240px;
	position: relative;
}

div.background > div {
	position: absolute;
	aspect-ratio: calc(447 / 245);
	width: 75%;
	max-width: 447px;
	background-position: center;
	background-size: cover;
	color: var(--white);
}

div.card-back {
	background-image: url(../images/bg-card-back.png);
	top: 2rem;
	right: 1rem;
}

p.cvc {
	position: absolute;
	right: 15%;
	top: 50%;
	transform: translateY(-50%);
	font-size: 0.625rem;
}

div.card-front {
	background-image: url(../images/bg-card-front.png);
	top: 50%;
	left: 1rem;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

div.card-front img {
	width: 20%;
}

div.details-wrapper {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
}

div.card-details {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 0.625rem;
	letter-spacing: 1px;
}

p.card-number {
	display: flex;
	justify-content: space-between;
	letter-spacing: 2px;
}

p.card-owner {
	text-transform: uppercase;
}

main {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 15vw 1.5rem;
}

form {
	margin: 0 auto;
	max-width: 360px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1rem;
}

footer {
	position: absolute;
	font-size: 1rem;
	bottom: 0.5rem;
	left: 1.5rem;
	right: 1.5rem;
	text-align: center;
}

@media (min-width: 600px) {
	body {
		flex-direction: row;
	}
}
